body {
    background-color: skyblue;
}

.title {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 80px;
}

.Containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    border: 5px solid;
    margin-top: 15px;
}

.box_1 {
    height: 600px;
    background-image: url(/Images/ahmet.JPG);
    background-size: 240%;
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 5%;
    overflow: hidden;
}

.box_2,
.box_4 {
    height: 500px;
    width: 50%;
    /* Adjust font size for better readability */
    font-size: 30px;
    background-image: url(/Images/Pic.png);
    background-size: 240%;
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 5%;
    overflow: hidden;
    font-weight: 800;
    font-stretch: extra-condensed;
    line-height: 55px;
    color: black;
}

.box_3 {
    height: 400px;
    background-image: url(/Images/DevOps.jpg);
    background-size: 240%;
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 5%;
    overflow: hidden;
    background-size: 300px;
}
