.Header_1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    background-color: bisque;
}

.navbar {
    display: flex;
    justify-content: space-between;
}


.Containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.box {

    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    border: 5px solid;
    margin-top: 15px;

}

.box_1 {

    height: 500px;
    margin-top: 100px;
    height: 500px;
    background-image: url();
    background-size: 240%;
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    /* Makes the container oval-shaped */
    overflow: hidden;
}

.box_2 {
    height: 500px;
    background-image: url(/Images/463e8ee7-ec07-428d-9b3d-75a6dae12ca4.JPG);
    background-size: 240%;
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    /* Makes the container oval-shaped */
    overflow: hidden;
}

.box_3 {
    height: 500px;
    margin-top: 100px;
    height: 500px;
    background-image: url();
    background-size: 240%;
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    /* Makes the container oval-shaped */
    overflow: hidden;
}

.box_4 {
    height: 500px;
    height: 500px;
    background-image: url();
    background-size: 240%;
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    /* Makes the container oval-shaped */
    overflow: hidden;
}