body {
  background-color: skyblue;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 80px;
}

.Containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  border: 5px solid;
  margin-top: 15px;
}

.box_1 {
  height: 600px;
  background-image: url(/ahmet_folder/ahmet_images/ahmet_dark_bg.JPG);
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  /* Makes the container oval-shaped */
  overflow: hidden;
}

.box_2,
.box_4 {
  height: 400px;
  width: 50%;
  /* Adjust font size for better readability */
  font-size: 30px;
  background-image: url(/Images/white_bg.jpg);
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  overflow: hidden;
  font-weight: 800;
  font-stretch: extra-condensed;
  line-height: 55px;
  color: black;
}

.box_3 {
  width: 35%;
  height: 380px;
  background-image: url(/ahmet_folder/ahmet_images/DevOps.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  overflow: hidden;
}

.box_4 {
  height: 300px;
  width: 50%;
  background-image: url(/Images/white_bg.jpg);
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  overflow: hidden;
  font-weight: 800;
  font-size: 20px;
  font-stretch: extra-condensed;
  line-height: 45px;
  color: black;

}

.box_5 {
  width: 35%;
  height: 380px;
  background-image: url(/ahmet_folder/ahmet_images/download.jpeg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  overflow: hidden;
}

.box_6 {
  margin-bottom: 50px;
  height: 200px;
  width: 50%;
  background-image: url(/Images/white_bg.jpg);
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  overflow: hidden;
  font-weight: 800;
  font-size: 20px;
  font-stretch: extra-condensed;
  color: black;
}

.box_6 {
  ul {
    list-style-type: square;
  }
}

.box_6 p {
  text-align: center;
  text-decoration-line: underline;
}

h4 {
  font-weight: 800;
  font-size: 20px;
}