body {
  background-color: chocolate;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}

.Containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  border: 5px solid;
  margin-top: 15px;
}

.box_1 {
  height: 600px;
  background-image: url(/akash_folder/akash_images/akash2.jpg);
  background-size: 200%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  /* Makes the container oval-shaped */
  overflow: hidden;
}

.box_2 {
  height: 500px;
  width: 50%;
  background-image: url();
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  /* Makes the container oval-shaped */
  overflow: hidden;
  font-weight: 800;
  font-size: 20px;
  font-stretch: extra-condensed;
  line-height: 55px;
  color: black;

}

.box_3 {

  height: 600px;
  background-image: url(/Images/man_programming.gif);
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  /* Makes the container oval-shaped */
  overflow: hidden;
  background-size: 300px;
}

.box_4 {
  height: 500px;
  width: 50%;
  background-image: url();
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  /* Makes the container oval-shaped */
  overflow: hidden;
  font-weight: 800;
  font-size: 20px;
  font-stretch: extra-condensed;
  line-height: 45px;
  color: black;

}

.box_6 p {
  text-align: center;
  text-decoration-line: underline;
}

.box_5 {

  height: 600px;
  background-image: url(/Images/coursera_cert.jpg);
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  /* Makes the container oval-shaped */
  overflow: hidden;
  background-size: 300px;
}

.box_6 {
  height: 500px;
  width: 50%;
  background-image: url();
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  /* Makes the container oval-shaped */
  overflow: hidden;
  font-weight: 800;
  font-size: 20px;
  font-stretch: extra-condensed;
  line-height: 55px;
  color: black;

}

.box_7 {

  height: 600px;
  background-image: url(/Images/projects.jpg);
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  /* Makes the container oval-shaped */
  overflow: hidden;
  background-size: 300px;
}

.box_8 {
  height: 500px;
  width: 50%;
  background-image: url();
  background-size: 240%;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  /* Makes the container oval-shaped */
  overflow: hidden;
  font-weight: 800;
  font-size: 20px;
  font-stretch: extra-condensed;
  color: black;


}

.box_6 {
  ul {
    list-style-type: square;
  }

}

.box_8 {
  ul {
    list-style-type: square;
  }

}

.box_8 p {
  text-align: center;
  text-decoration-line: underline;
}

h4 {
  font-weight: 800;
  font-size: 20px;
}